    <table class="table table-striped" style='margin-top:80px'>
        <thead style="background-color:#0f0f0f;color:#ffffff">
            <tr class="textA">
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email ID</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody style="background-color:#ffffff;color:#000000">
            <tr *ngFor="let employee of employees" class="textA">
                <td style='padding: 25px'>{{employee.fname}}</td>
                <td  style='padding: 25px'>{{employee.lname}}</td>
                <td  style='padding: 25px'>{{employee.emailId}}</td>
                <td >
                    <button mat-fab (click)="updateEmployee(employee.id)" color="accent" matTooltip="Update" style='margin-right:16px'>
                        <mat-icon >create</mat-icon>
                      </button>
                    <button mat-fab (click)="clickMethod(employee.id)" color="warn" matTooltip="Delete" style='margin-right:16px'>
                        <mat-icon>delete</mat-icon>
                      </button>
                      <button mat-fab (click)="viewEmployee(employee.id)"  color="primary" matTooltip="View" >
                        <mat-icon>account_circle</mat-icon>
                      </button>
                </td>
            </tr>
        </tbody>
    </table>
