<nav class="navbar navbar-dark bg-black">
    <ul class="navbar-nav">
        <li class="nav-item sameLine">
           <div style="width :160px"> <a routerLink="create-employee" routerLinkActive="active" class="nav-link">Create Employee</a></div>
           <div style="width :160px"><a routerLink="employees" routerLinkActive="active" class="nav-link">Employee List</a></div>
        </li>
    </ul>
</nav>

<h1 class="text-center">{{title}}</h1>
<div class="container">
<router-outlet></router-outlet>
</div>
<footer class="footer">
    <div >
        <span>All Right Reserved |@ 2022</span>
    </div>
</footer>