<div style='margin-top:80px'>
<h3>EMPLOYEE DATA</h3>
</div>
<mat-grid-list cols="2" rowHeight="15:1" style='margin-top:50px'>
    <mat-grid-tile style="font-weight: bold;">First Name</mat-grid-tile>
    <mat-grid-tile>{{employee.fname}}</mat-grid-tile>
    <mat-grid-tile style="font-weight: bold;">Last Name</mat-grid-tile>
    <mat-grid-tile>{{employee.lname}}</mat-grid-tile>
    <mat-grid-tile style="font-weight: bold;">Email Id</mat-grid-tile>
    <mat-grid-tile>{{employee.emailId}}</mat-grid-tile>
  </mat-grid-list>