<div class="col-md-6 offset-md-3" style='margin-top:50px'>
    <h3 >CREATE EMPLOYEE</h3>
    <form (ngSubmit)="onSubmit()" >
        <div class="form-group" style='margin-top:50px'>
            <mat-form-field appearance="fill">
                <mat-label>What is your first name?</mat-label>
                <input matInput type="text" class="form-control" id="firstName"
                [(ngModel)]="employee.fname" name="firstName">
              </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="fill">
                <mat-label>What is your last name?</mat-label>
                <input matInput type="text" class="form-control" id="lastName"
                [(ngModel)]="employee.lname" name="lastName">
              </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="fill">
                <mat-label>What is your email id?</mat-label>
                <input matInput type="text" class="form-control" id="emailId"
                [(ngModel)]="employee.emailId" name="emailId">
              </mat-form-field>
        </div>
        <br>
        <button  type="submit" class="btn btn-success bg-black">Submit</button>
    </form>
    </div>