/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.footer 
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(2, 2, 2);
    color: white;
    text-align: center;
  }
  .sameLine {
    display: flex;
    justify-content: space-between;
  }
  .element {
    padding: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.mat-icon{
  height:26px ;
  width:26px ;
  font-size:26px ;
}
.custom-tooltip {
  font-size:14px;
}
.textA 
{
  text-align: center;
  font-size:20px ;
}
h3 {
  text-align: center;
  background: #0d0e0c;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 0 1px #5F5A4B, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
  color: #FFFFFF;
  Font-family: "Microsoft YaHei", "Tahoma", "boldface", Arial;
  font-size: 20px;
  font-weight: bold;
  height: 35px;
  line-height: 20px;
  margin: 12px 0 !important;
  padding: 5px 0 5px 10px;
  text-shadow: 2px 2px 3px #222222;
}
h1
{
  Font-family: "Microsoft YaHei", "Tahoma", "boldface", Arial;
  font-size:25px ;
  font-weight: bold;
  text-shadow: 6px 6px 9px #222222;
}
mat-form-field {
  width: 100%;
}
mat-grid-tile {
  background: rgb(220, 243, 250);
}